.card{
    background-color: white;
    border-radius: 10px;
    color: black;
    font-weight: 600;
    font-size: 18px;
    padding: 28px;
    width: 100%;
}
.card >:nth-child(2){
    border-top: 1px solid #c9c7c7;
    padding-top: 20px;
}

.question{
    font-weight: 600;
    display: flex;
    justify-content: space-between;
}
.question button{
    font-size: 32px;
}