.game{
    display: flex;
    gap: 18px;
    justify-content: center;
    align-items: center;
}
.game button{
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    background: #333333;
    width: 193px;
    height: 100px;
    border-radius: 10px;
    flex-shrink: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.game button:hover{
    border-radius: 10px;
    border: 1px solid #FFF;
    background: #333;
}
.transparentButton {
    background: transparent !important;
    display: inline-block !important;
    width: fit-content !important;
    height: fit-content !important;
    margin-left: -30px;
    flex-shrink: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }